{
    "presets": [
        "react",
        "latest"
    ],
    "plugins": [
        "babel-plugin-add-module-exports",
        "transform-decorators-legacy",
        "transform-flow-strip-types",
        "transform-flow-comments",
        "transform-object-entries",
        ["transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ]
    ]
}
